.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    text-align: center;
    background-color: #03030380;
    color: white;
}

.ft-img{
    margin-left: 0.3em;
    margin-right: 0.3em;
}
